@*<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="logisticsInvoicePrint.aspx.cs" Inherits="RM.Web.Bus.logisticsCost.logisticsInvoiceNew.logisticsInvoicePrint" %>*@

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>多经开票通知</title>
    <link href="~/Content/js/default.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/jqprint/jquery-1.4.4.min.js" type="text/javascript"></script>
    <link href="~/Content/js/jqprint/print.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/jqprint/jquery.jqprint-0.3.js" type="text/javascript"></script>
    <link href="~/Content/js/jqprint/jquery.jqprint.css" rel="stylesheet" type="text/css" />
    <script>

        
        function btn_print() {
            $("#print").jqprint();
        }
        function btn_Adjunct() {
            var keyValue = $("#Id").val();
            var parentId = top.$.jfinetab.getCurrentTabId();
            top.$.jfinetab.addTabContent("/TN_XM/TN_CG_CP/Details?keyValue=" + keyValue, "设备管理--查看", parentId + "_view", parentId);
        }
    </script>
    <style type="text/css">
        /*span {
            background-color: #ffcc00;
            display: -moz-inline-box;
            display: inline-block;
            width: 600px;
        }*/
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <input id="Id" value="@ViewBag.model.Id" hidden/>
        <div style="position: absolute; top: 22px; right: 8px;">
            <a onclick="btn_print()" href="javascript:void(0)"><span class="icon icon-print">&nbsp;</span>打印</a>

            <a onclick="btn_Adjunct()" href="javascript:void(0)"><span class="icon icon-print">&nbsp;</span>图片</a>
        </div>
        <div class="print-box" style="padding:5px;">
            <div id="print">
                <div style="font-size: 22px;text-align: center; line-height: 50px;">
                    <br>亚行项目设备卡片
                </div>
                @*<div class="print-info">
                    <table class="form">
                        <tr>
                            <th class="formTitle" style="">设备名称：</th>
                            <td class="formValue" style="">
                                <input type="text" style="width:98%;" class="form-control " value="" />
                            </td>
                            <th class="formTitle" style="">业务单号：</th>
                            <td class="formValue">
                                <input type="text" style="width:98%;" class="form-control " value="" />
                            </td>
                            <th class="formTitle" style="">制单日期：</th>
                            <td class="formValue" style="width:110px;">
                                <input type="text" style="width:98%;" class="form-control " value="" />
                            </td>
                        </tr>
                    </table>
                </div>*@
                <div class="print-table">
                    <table border="1">
                        <tbody>
                            <tr>
                                <td style="width:100px;" colspan="2">设备名称</td>
                                <td style="width:300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.Name" />
                                </td>
                                <td style="width:100px;" colspan="2">设备编号</td>
                                <td style="width:300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.CPCode" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">所属项目</td>
                                <td style="width:300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.ProjectName" />
                                </td>
                                <td style="width:100px;" colspan="2">项目编号</td>
                                <td style="width:300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.ProjectNo" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">所属合同</td>
                                <td style="width: 700px;" colspan="10">
                                    亚行项目<span>
                                        <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.CGName" />
                                    </span>合同
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">合同编号</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.CGCode" />
                                </td>
                                <td style="width:100px;" colspan="2">发票号</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">设备价格（元）</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.TaxPrice" />
                                </td>
                                <td style="width:100px;" colspan="2">资产类别</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.Classify" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">安装地点</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td style="width:100px;" colspan="2">设备型号</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.Model" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">制造厂家</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model2.Supplier" />
                                </td>
                                <td style="width:100px;" colspan="2">出厂编号</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">制造日期</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.StorageTime" />
                                </td>
                                <td style="width:100px;" colspan="2">移交日期</td>
                                <td style="width: 300px;" colspan="2">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.OutboundTime" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">安装日期</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td style="width:100px;" colspan="2">投运日期</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" rowspan="3" colspan="2">设备主要参数</td>
                                <td style="width:350px;" colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td style="width:350px;" colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td colspan="5">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            @*<tr>
            <td style="width:100px;" rowspan="2">地址、电话</td>
            <td style="width:450px;" rowspan="2" colspan="4">
            </td>
            <td style="width:100px;" rowspan="2">开户行及账号</td>
            <td style="width:200px;" colspan="2">
            </td>
        </tr>*@
                            <tr>
                                <td style="width:100px;" colspan="2">采购单位名称</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model2.CGOrganization" />
                                </td>
                                <td style="width:100px;" colspan="2">采购单位签字</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">使用单位名称</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                                <td style="width:100px;" colspan="2">使用单位签字</td>
                                <td style="width: 300px;" colspan="4">
                                    <input type="text" class="form-control" id="F_FullName" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px; height:100px;" rowspan="2" colspan="2">设备验收情况</td>
                                <td style="width:200px;" colspan="4">开箱检验情况：</td>
                                <td style="width:500px;" colspan="6">
                                    <input type="checkbox" id="F_FullName" value=""> 产品合格证，各壹份；
                                    <br /><input type="checkbox" id="F_FullName" value=""> 产品使用说明书，各壹份；
                                    <br /><input type="checkbox" id="F_FullName" value=""> 产品检验报告，共壹份；
                                    <br /><input type="checkbox" id="F_FullName" value=""> 上述所到货物与其装箱单完全一致，其外观完好无损。
                                </td>
                            </tr>
                            <tr>
                                <td style="width:200px;" colspan="4">不合格品控制情况：</td>
                                <td style="width:500px;" colspan="6">
                                    <input type="checkbox" id="F_FullName" value=""> 没有开具不合格项报告；
                                    <br /><input type="checkbox" id="F_FullName" value=""> 共开具不合格项报告张，其编号如下：
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">设备档案资料</td>
                                <td style="width: 700px;" colspan="10">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.EquipmentState" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;" colspan="2">备注</td>
                                <td style="width: 700px;" colspan="10">
                                    <input type="text" class="form-control" id="F_FullName" value="@ViewBag.model.Remark" />
                                </td>
                            </tr>

                            @*<tr>
                                <td style="width:100px;">合同编号</td>
                                <td style="width:120px;">费用名称</td>
                                <td style="width:120px;">规格</td>
                                <td style="width:60px;">单位</td>
                                <td style="width:60px;">数量</td>
                                <td style="width:100px;">单价</td>
                                <td style="width:120px;">金额 </td>
                                <td style="width:80px;">货币</td>
                            </tr>
                            <tr>
                                <td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="print-info">
                    <table class="form">
                        <tr>
                            <th style="width:100px;">资产类别：</th>
                            <td style="width: 700px;" colspan="5">
                                1、房屋建筑物； 2、机器设备； 3、运输工具； 4 、办公设备。
                            </td>
                            @*<th class="formTitle" style="">业务员：</th>
                            <td class="formValue">
                                <input type="text" class="form-control " value="" />
                            </td>
                            <th class="formTitle" style="">业务处：</th>
                            <td class="formValue">
                                <input type="text" class="form-control " value="" />
                            </td>*@
                        </tr>
                    </table>
                </div>


            </div>
        </div>
    </form>
</body>
</html>

<style>
    .form-control {
        width: 100%;
        border-top: transparent !important;
        border-left: transparent !important;
        border-right: transparent !important;
        border-bottom: transparent !important;
    }
</style>